C:\GM\
/*_GKS_DESCRIPTION_TABLE_*/
0x00
3
Cached-PS-0
Cached-PS-1
Cached-PS-2
5
5
0
10
/*_WORKSTATION_DESCRIPTION_TABLE_*/
Cached-PS-0
CACHEGA.EXE
0x02
0x01
1.0e+0
1.0e+0
640
350
/*_WORKSTATION_DESCRIPTION_TABLE_*/
Cached-PS-1
CACHEGA.EXE
0x02
0x01
1.0e+0
1.0e+0
640
350
/*_WORKSTATION_DESCRIPTION_TABLE_*/
Cached-PS-2
CACHEGA.EXE
0x02
0x01
1.0e+0
1.0e+0
640
350
